<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../css/styles.css" rel="stylesheet">
		<title>To Do List</title>
	</head>
	<body>
		<div>
			<button><a href="/">Personal</a></button>
		</div>
		<div>
			<button><a href="/work">Work</a></button>
		</div>
		